<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GameName">
    <select id="selectAll" resultMap="GameWithTeamResultMap">
        select g.game_id , g.date , g.home_score , g.away_score , g.result, g.round,
               h.team_id as home_team_id, h.name as home_team_name, h.logo as home_team_logo,
               a.team_id as away_team_Id, a.name as away_team_name, a.logo as away_team_logo
             from game g
                 join team h on g.home_api_id = h.team_id
                 join team a on g.away_api_id = a.team_id;
    </select>
    <select id="selectByDate" parameterType="String" resultMap="GameWithTeamResultMap">
        select g.game_id , g.date , g.home_score , g.away_score , g.result, g.round,
               h.team_id as home_team_id, h.name as home_team_name, h.logo as home_team_logo,
               a.team_id as away_team_Id, a.name as away_team_name, a.logo as away_team_logo
        from game g
                 join team h on g.home_api_id = h.team_id
                 join team a on g.away_api_id = a.team_id
        WHERE DATE_FORMAT(g.`date`, '%Y-%m-%d') = #{date}
    </select>
    <select id="selectByGameId" parameterType="int" resultMap="GameWithTeamResultMap">
        select g.game_id , g.date , g.home_score , g.away_score , g.result, g.round,
               h.team_id as home_team_id, h.name as home_team_name, h.logo as home_team_logo,
               a.team_id as away_team_id, a.name as away_team_name, a.logo as away_team_logo
        from game g
                 join team h on g.home_api_id = h.team_id
                 join team a on g.away_api_id = a.team_id
        where g.game_id = #{gameId};
    </select>

    <insert id="insertGames" parameterType="java.util.List">
        insert game (game_id, home_api_id, away_api_id, home_score, away_score, date, result , round)
            values
            <foreach collection="list" item="gameDto" separator=",">
                (
                #{gameDto.gameId},
                #{gameDto.homeTeamDto.teamId},
                #{gameDto.awayTeamDto.teamId},
                #{gameDto.homeScore},
                #{gameDto.awayScore},
                #{gameDto.dateTime},
                #{gameDto.result},
                #{gameDto.round}
                )
            </foreach>
            on DUPLICATE key update
            home_api_id = VALUES(home_api_id),
            away_api_id = VALUES(away_api_id),
            home_score = VALUES(home_score),
            away_score = VALUES(away_score),
            date = VALUES(date),
            result = VALUES(result),
            round = VALUES(round);
    </insert>
    <resultMap id="GameWithTeamResultMap" type="idusw.soccerworld.domain.dto.GameDto">
        <id property="gameId" column="game_id" />
        <result property="gameId" column="game_id"/>
        <result property="dateTime" column="date"/>
        <result property="homeScore" column="home_score"/>
        <result property="awayScore" column="away_score"/>
        <result property="round" column="round"/>
        <association property="homeTeamDto" javaType="idusw.soccerworld.domain.dto.TeamDto">
            <id property="teamId" column="home_team_id"/>
            <result property="teamId" column="home_team_id"/>
            <result property="name" column="home_team_name" />
            <result property="logo" column="home_team_logo"/>
        </association>
        <association property="awayTeamDto" javaType="idusw.soccerworld.domain.dto.TeamDto">
            <id property="teamId" column="away_team_Id"/>
            <result property="teamId" column="away_team_id"/>
            <result property="name" column="away_team_name" />
            <result property="logo" column="away_team_logo"/>
        </association>
    </resultMap>
</mapper>
